<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="mt-4"
                style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="bootstrap.xhtml" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Incapacidades Radicadas</li>
                </ol>
            </nav>
            <p class="fs-1 text-center mt-5 mb-3 fw-light">Incapacidades Radicadas</p>
            <p class="text-muted">Aqui podras ver los documentos cargados de cada incapacidad radicada, viendo toda la
                información necesaria.</p>
            <hr>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="errorMessageWarning">
            <strong>{{ errorMessageWarning }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="row align-items-md-stretch" *ngIf="isLoading">
            <div class="col-12">
                <div class="h-100 p-3 bg-light border rounded-4 text-center align-items-center d-flex">
                    <strong class="option-tipo">El listado de radicaciones esta cargando....</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="!isLoading">
            <p-table #dtIncapacidades dataKey="id" [value]="incapacidades" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Pagina {first} - {last} de {totalRecords} registros"
                [globalFilterFields]="getGlobalFilterFields()" [styleClass]="'p-datatable-sm'"
                [rowsPerPageOptions]="[10, 25, 50]">
    
                <ng-template pTemplate="caption">
                    <div class="justify-content-between d-flex">
                        <button (click)="clearTable(dtIncapacidades)" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-filter-circle-xmark"></i>
                        </button>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText class="form-control" type="text" (input)="filter(dtIncapacidades, $event)"
                                placeholder="Escribe para buscar..." />
                        </span>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="numeroRadicado" style="width: 15%;">N° radicado</th>
                        <th scope="col" pSortableColumn="numeroRadicado" style="width: 10%;">Documento</th>
                        <th scope="col" pSortableColumn="numeroRadicado" style="width: 10%;">Contrato</th>
                        <th scope="col" pSortableColumn="numeroRadicado" style="width: 30%;">Nombre</th>
                        <th scope="col" pSortableColumn="tipoIncapacidad" style="width: 25%;">Tipo incapacidad</th>
                        <th scope="col" pSortableColumn="fechaInicial" style="width: 15%;">Fecha inicio</th>
                        <th scope="col" pSortableColumn="fechaDeRadicacion" style="width: 20%;">Fecha radicacion</th>
                        <th scope="col" style="width: 5%;"></th>
                        <th scope="col" style="width: 5%;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                        <td>{{i.numeroRadicado}}</td>
                        <td>{{i.numeroDocumentoEmpleado}}</td>
                        <td>{{i.numeroContrato}}</td>
                        <td>{{i.nombreDelEmpleado}}</td>
                        <td>{{i.tipoIncapacidad}}</td>
                        <td>{{ i.fechaInicial | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ i.fechaRadicacion | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">
                            <button (click)="viewDetailsIncapacidad(i, modal)" type="button"
                                class="btn btn-info rounded-pill btn-sm">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button (click)="viewDocumentacion(i)" type="button" class="btn btn-dark rounded-pill btn-sm">
                                <i class="fa-regular fa-folder-open"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-content shadow">
        <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5"></h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body py-0">
            <div class="text-center">
                <i class="fa-solid fa-magnifying-glass text-info fs-1"></i>
            </div>
            <p class="fs-2 mb-0 mt-2 text-center">Radicación #<strong>{{incapacidadSelected.numeroRadicado}}</strong>
            </p>
            <hr>
            <p class="mb-0">
                <span class="fw-bold text-muted">Nombre de empresa: </span>
                <span class="fw-light">{{ incapacidadSelected.nombreEmpresa }}.</span>
            </p>
            <p class="mb-0">
                <span class="fw-bold text-muted">Numero contrato: </span>
                <span class="fw-light">{{ incapacidadSelected.numeroContrato }}.</span>
            </p>
            <p class="mb-0">
                <span class="fw-bold text-muted">Fecha de radicacion: </span>
                <span class="fw-light">{{ incapacidadSelected.fechaRadicacion | date: 'dd/MM/yyyy'}}.</span>
            </p>
            <p class="mb-0">
                <span class="fw-bold text-muted">Otros datos: </span>
                <span class="fw-light">{{ incapacidadSelected.estado }}.</span>
            </p>
            <p class="mb-0">
                <span class="fw-bold text-muted">Periodo de incapacidad: </span>
                <span class="fw-light">{{ incapacidadSelected.fechaInicial | date: 'dd/MM/yyyy'}}.</span>
            </p>
            <p class="mb-0">
                <span class="fw-bold text-muted">Tipo de incapacidad: </span>
                <span class="fw-light">{{ incapacidadSelected.tipoIncapacidad }}.</span>
            </p>
            <p class="mb-0">
                <span class="fw-bold text-muted">Subtipo de incapacidad: </span>
                <span class="fw-light">{{ incapacidadSelected.subTipoIncapacidad }}.</span>
            </p>
        </div>
        <div class="modal-footer flex-column border-top-0">
            <button type="button" class="btn btn-lg btn-secondary w-100 mx-0" aria-label="Close"
                (click)="d('Cross click')">Aceptar</button>
        </div>
    </div>
</ng-template>