<div class="container">
    <div class="row">
        <p class="fs-1 mt-3 text-center">Ooooooops, Lo sentimos</p>
        <p class="fs-4 fw-light text-center">Parece que el servicio que intentas acceder no existe o estan sin conexión.</p>
        <div class="col-6 mx-auto">
            <img src="../../../../assets/img/error_500.jpg" alt="error 500" class="img-fluid">
            <div class="d-grid gap-2">
                <a routerLink="/dashboard" class="btn btn-primary rounded-pill btn-block">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>