<div class="container">
    <div class="row">
        <p class="fs-1 mt-3 text-center">Lo sentimos por esta falla temporal.</p>
        <p class="fs-4 fw-light text-center">No hay conexion entre los servicios backend (JRHU0055) y el cliente.</p>
        <div class="col-6 mx-auto">
            <img src="../../../../assets/img/error.jpg" alt="error 404" class="img-fluid">
            <div class="d-grid gap-2">
                <a routerLink="/dashboard" class="btn btn-primary btn-block rounded-pill">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>