<div class="container">
    <div class="row">
        <h1 class="fw-light text-center mt-3">Incapacidad No.<strong class="fw-bold">1234</strong></h1>
        <div class="col-12 col-lg-5">
            <div class="p-sm-4 my-4 bg-light rounded-4 border">
                <div class="container-fluid">
                    <p class="fs-5">Documentos</p>
                    <div class="alert alert-light border border-dark py-2 justify-content-between d-flex" role="alert">
                        Historial clinico
                        <span class="badge rounded-pill bg-success">Cargado</span>
                    </div>
                    <div class="alert alert-light border border-dark py-2 justify-content-between d-flex" role="alert">
                        Certificado de incapacidad
                        <span class="badge rounded-pill bg-success">Cargado</span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Concatenar documentos</label>
                    </div>
                    <small class="text-muted"><strong class="fw-bold">2</strong> documentos</small>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 px-lg-0">
            <div class="p-sm-4 my-4 bg-light rounded-4 border">
                <div class="container-fluid">
                    <p class="fs-5">Visualizador</p>
                    <iframe src="https://primeng.org/installation" title="iframe de visualizacion de documentos"
                        style="width: 100%; height: 90vh;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>