<div class="container">
    <div class="row justify-content-center">
        <h1 class="fw-light text-center mt-3">Incapacidad No.<strong class="fw-bold">1234</strong></h1>
        <div class="col-10">
            <div class="p-sm-4 my-4 bg-light rounded-5 border">
                <div class="container-fluid p-4">
                    <form class="row g-4 needs-validation">
                        <div class="col-12">
                            <label for="contrato" class="form-label">
                                Contrato
                            </label>
                            <input type="text" class="form-control" disabled>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="empresaPrincipal" class="form-label">Empresa principal</label>
                            <input type="text" class="form-control" id="empresaPrincipal" disabled/>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="empresaUsuaria" class="form-label">Empresa usuaria</label>
                            <input type="text" class="form-control" id="empresaUsuaria" disabled/>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="subtipoIncapacidad" class="form-label">Subtipo incapacidad</label>
                            <input type="text" class="form-control" disabled>  
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="fechaAccidente" class="form-label">
                                Fecha accidente
                            </label>
                            <input type="text" class="form-control" id="fechaAccidente" disabled/>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <label for="codigoDiagnostico" class="form-label">
                                Codigo diagnostico
                            </label>
                            <input type="text" class="form-control" id="validationCustom05" disabled/>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <label for="descripcionDiagnostico" class="form-label">Descripción diagnostico</label>
                            <input type="text" class="form-control" id="descripcionDiagnostico" disabled/>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            <label for="fechaInicio" class="form-label">Fecha inicio</label>
                            <input type="text" class="form-control" id="fechaInicio" disabled/>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4">
                            <label for="numeroIncapacidad" class="form-label">
                                Numero incapacidad
                            </label>
                            <input type="text" class="form-control" id="numeroIncapacidad" disabled/>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <label for="noDias" class="form-label">N° Dias</label>
                            <input type="text" class="form-control" id="noDias" [disabled]="true"/>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="noDias" class="form-label">
                                ¿Prorroga?
                            </label>
                            <div class="d-block">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" [disabled]="true"/>
                                    <label class="form-check-label" for="inlineCheckbox1">Si</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" [disabled]="true"/>
                                    <label class="form-check-label" for="inlineCheckbox1">No</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>